$bg-color: #ffffff;
$bg-color-variant: #d4f2f4e6;
$primary-color: #04445f;
$primary-color-variant: #04445feb;
$secondary-color: #189ab4;
$outline-color: #7c8da5;
$white: #ffffff;
$blue: #0038bb;
$orange: #cca152;