$bg-color: #d4f2f4;
$primary-color: #04445f;
$primary-color-variant: #04445feb;
$secondary-color: #189ab4;
$outline-color: #7c8da5;
$white: #ffffff;
$blue: #0038bb;
$orange: #cca152;
.app {
  background-color: $bg-color;
  min-height: 100vh;
  margin: 0;

  .conatiner {
    width: 80vw;
    margin: 0 auto;
    //--------------- LOGIN REGISTER ---------------
    .auth {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $bg-color;
      flex-direction: column;
      .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        background-color: $bg-color;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 $outline-color;

        h1 {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
          color: $primary-color;
        }
        form {
          display: flex;
          flex-direction: column;
          padding: 14px;
          width: 300px;
          gap: 20px;

          input {
            padding: 10px;
            border: 1px solid $outline-color;
            outline: none;
            font-size: 1.1rem;
            font-weight: 500;
            border: none;
            border-bottom: 1px solid $outline-color;
            color: $primary-color;
            background-color: $bg-color;
          }
          .button {
            text-decoration: none;
            text-align: center;
            margin: 24px 0;
            padding: 14px;
            border-radius: 10px;
            border: none;
            background-color: $primary-color;
            color: $white;
            cursor: pointer;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            color: $primary-color;
            text-align: center;
            background-color: $orange;
            padding: 14px 0;
            border-radius: 10px;
          }
          span {
            font-size: 14px;
            text-align: center;
            a {
              color: $blue;
              text-decoration: none;
            }
          }
        }
      }
    }
    //--------------- LOGIN REGISTER END ---------------

    //--------------- NAVBAR ---------------

    .navbar {
      .container {
        display: flex;
        margin: 14px 0;
        padding: 10px 0;
        justify-content: space-between;
        position: sticky;

        .logo {
          img {
            width: 82px;
          }
        }
        .links {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 10px;
          .menu {
            display: flex;
            align-items: center;
            a,
            span {
              cursor: pointer;
              text-decoration: none;
              color: $primary-color;
              font-size: 16px;
              font-weight: 500;
              margin: 0 10px;
              padding: 5px 15px;
              border-radius: 5px;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $blue;
              }
            }
          }
          .tags {
            display: flex;
            align-items: center;
            cursor: pointer;
            a {
              text-decoration: none;
              color: $secondary-color;
              font-size: 16px;
              font-weight: 300;
              margin: 0 10px;
              padding: 5px 15px;
              border-radius: 5px;
              transition: all 0.3s ease-in-out;
              &:hover {
                background-color: $secondary-color;
                color: $white;
              }
            }
          }
        }
      }
    }

    //--------------- NAVBAR END ---------------


    //--------------- HOME---------------

    .home{
      display: flex;
      flex-direction: column;

      .container{
      display: flex;
      justify-content: center;
      align-items: space-between;
      min-height: 70vh;
        background-image: url('https://raw.githubusercontent.com/charlesncn/stem/main/src/imgs/stem-kid.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

      .left{
        flex: 1;
      }
      .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $primary-color-variant;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 50px;

        h1{
          font-size: 4rem;
          font-weight: 600;
          color: $white;
          margin: 20px 0;
          padding: 0;
          text-align: center;
        }
        p{
          font-size: 1.5rem;
          font-weight: 300;
          color: $white;
          padding: 0;
          text-align: center;
          margin: 20px 0;
        }
      
        .button{
          padding: 10px 30px;
          border: 1px solid $outline-color;
          border-radius: 10px;
          background-color: none;
          text-decoration: none;
          color: $white;
          font-size: 1.3rem;
          transition: all ease 0.4s;
          margin: 30px;

          &:hover{
            background-color: $white;
            color: $primary-color;
          }
        }
      }
        
      }
    }

    //--------------- HOME END ---------------




    // --------------- FOOTER ---------------
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-top: 1px solid $primary-color;
      margin: 80px 0 0 0;

      .logo img {
        width: 160px;
      }

      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btns {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        form {
          width: 30vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          border-radius: 10px;
          border: 1px solid $outline-color;
          //   box-shadow: 0 0 1px 0 $outline-color;

          span {
            color: $primary-color;
            font-size: 16px;
            font-weight: 500;
            margin: 10px 20px;
          }
          input {
            padding: 10px;
            border: 1px solid $outline-color;
            outline: none;
            font-size: 14px;
            font-weight: 200;
            border: none;
            border-bottom: 1px solid $outline-color;
            color: $primary-color;
            background-color: inherit;
            margin: 0 20px;
          }
          textarea {
            max-height: 60px;
            height: 30px;
            max-width: 90%;
            padding: 10px;
            border: 1px solid $outline-color;
            outline: none;
            font-size: 14px;
            font-weight: 300;
            border: none;
            border-bottom: 1px solid $outline-color;
            color: $primary-color;
            background-color: inherit;
            margin: 0 20px;
          }
        }

        button {
          padding: 10px;
          width: 240px;
          border: none;
          border-radius: 10px;
          background-color: $outline-color;
          color: $white;
          cursor: pointer;
          margin: 10px 20px;
          transition: all ease 0.3s;
          &:hover:nth-child(1) {
            background-color: $primary-color;
          }
          &:hover:nth-child(2) {
            background-color: $orange;
          }
        }
      }
      .socialmedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul {
          list-style-type: none;

          li {
            font-size: 16px;
            font-weight: 500;
            margin: 0 10px;
            padding: 5px 15px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;

            a{
              cursor: pointer;
              text-decoration: none;
              color: $primary-color;
            &:hover {
              color: $outline-color;
            }
            }
          }
        }
      }
      p {
        color: $primary-color;
        font-size: 14px;
        font-weight: 300;
        margin: 0 10px;
        padding: 5px 15px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        a {
          color: $primary-color;
          text-decoration: none;
          &:hover {
            color: $orange;
          }
        }
      }
    }
    // --------------- FOOTER END ---------------
  }
}
